extends layout

block content
  .timeline
    form#join-form(action='/user/changePassword' method='post')
      .input-group
        label(for='changePassword-oldPassword') 기존 패스워드
        input#changePassword-oldPassword(type='password' name="oldPassword")
      .input-group
        label(for='changePassword-newPassword1') 새 패스워드
        input#changePassword-newPassword1(type='password' name='newPassword1')
      .input-group
        label(for='changePassword-newPassword2') 새 패스워드 확인    
        input#changePassword-newPassword2(type='password' name='newPassword2')
      if passwordError
        .error-message= passwordError
      button.btn(type='submit') 패스워드 수정